<form id="chrdialog" class="modal" style="max-width: 500px;padding: 0 !important;" action="/assembly/new" method="post">
    <h5 style="text-align: center; font-weight: 600;">NEW ASSEMBLY</h5>
    <input name="assembly_id" id="assembly_id" value="{{assembly_id}}" type="text" class="validate" hidden>
    <div class="row modal-content" style="margin: 0;">
        <div class="input-field col s12">
            <input name="name" id="assembly-name" value="{{name}}" type="text" class="validate" required>
            <label for="assembly-name">Name</label>
        </div>
        <div class="input-field col s12" style="margin-top: 25px;">
            <select name="zone_id" id="zone-select" required>
                <option value="" disabled selected>Select your assembly zone</option>
                {{#each zones}}
                <option value="{{zone_id}}">{{zone_name}} ZONE</option>
                {{/each}}
            </select>
            <label>Gender</label>
        </div>
        <div class="input-field col s12">
            <input name="pastor_name" id="pastor_name" value="{{pastor_name}}" type="text" class="validate">
            <label for="pastor_name">Pastor Name</label>
        </div>
        <div class="input-field col s12">
            <input name="pastor_telephone" id="pastor_telephone" value="{{pastor_telephone}}" type="number"
                class="validate" required>
            <label for="pastor_telephone">Pastor phone number</label>
        </div>
        <div class="input-field col s12">
            <input name="leader_name" id="leader_name" value="{{leader_name}}" type="text" class="validate" required>
            <label for="leader_name">Leader Name</label>
        </div>
        <div class="input-field col s12">
            <input name="leader_telephone" id="leader_telephone" value="{{leader_telephone}}" type="number"
                class="validate" required>
            <label for="leader_telephone">Leader phone number</label>
        </div>
    </div>
    <div class="modal-footer">
        <button id="chr-submit-button" class="btn waves-effect waves-light" type="submit" name="action">Submit
        </button>
    </div>
</form>