<form id="create-event-dialog" class="modal" enctype="multipart/form-data" action="/admin/event/new" method="post">
    <div>
        <h5 id="event-form-title" style="font-weight: 600;text-align: center;text-transform: uppercase;">Create a new
            event</h5>
    </div>
    <div class="modal-content row" style="padding: 0;">
        <input id="event_id" name="event_id" hidden />
        <div class="input-field col s12 l6">
            <label for="theme">Event theme</label>
            <input id="theme" name="theme" type="text" class="validate" required>
        </div>
        <div class="input-field col s12 l6">
            <label for="event-name">Event Name</label>
            <input id="event-name" name="name" type="text" class="validate" required>
        </div>
        <div class="input-field col s12 l6">
            <label for="location">Event hosting place</label>
            <input id="location" name="location" type="text" class="validate" required>
        </div>
        <div class="input-field col s12 l6">
            <label for="registration_fee">Registration fees</label>
            <input id="registration_fee" name="registration_fee" type="number"
                class="validate" />
        </div>
        <div class="col s12 l6">
            <label for="starting_date">Starting date</label>
            <input id="starting_date" name="starting_date"
                type="datetime-local" required>
        </div>
        <div class="col s12 l6">
            <label for="ending_date">Ending date</label>
            <input id="ending_date" name="ending_date" type="datetime-local"
                required>
        </div>
        <div class="col s12 l6">
            <label for="closing_date">Last admissible date</label>
            <input id="closing_date" name="closing_date"
                type="datetime-local" required>
        </div>
        <div class="file-field input-field col s12 l6">
            <div class="btn">
                <span><i class="material-icons">folder</i></span>
                <input id="event-image-field" class="file-input" type="file" name="file" required>
            </div>
            <div class="file-path-wrapper">
                <input name="str_file" class="file-path validate" type="text" placeholder="* Change your profile image"
                    required>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: right; padding: 10px;">
        <button id="submit-button" class="btn waves-effect waves-light" type="submit" name="action">Ajouter
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>