<form id="edit-event-dialog" class="modal" action="#" method="post">
    <div>
        <h5 id="event-form-title" style="font-weight: 600;text-align: center;text-transform: uppercase;">update event</h5>
    </div>
    <div class="modal-content row" style="padding: 0;">
        <input id="event_id" name="event_id" class="event-input" hidden />
        <div class="col s12 l6">
            <label for="theme" class="active">Event theme</label>
            <input id="theme" name="theme" type="text" class="event-input validate" required>
        </div>
        <div class="col s12 l6">
            <label for="event-name" class="active">Event Name</label>
            <input id="event-name" name="name" type="text" class="event-input validate" required>
        </div>
        <div class="col s12 l6">
            <label for="location" class="active">Event hosting place</label>
            <input id="location" name="location" type="text" class="event-input validate" required>
        </div>
        <div class="col s12 l6">
            <label for="registration_fee" class="active">Registration fees</label>
            <input id="registration_fee" name="registration_fee" type="number"
                class="event-input validate" />
        </div>
        <div class="col s12 l6">
            <label for="starting_date" class="active">Starting date</label>
            <input id="starting_date" class="event-input" name="starting_date"
                type="datetime-local" required>
        </div>
        <div class="col s12 l6">
            <label for="ending_date" class="active">Ending date</label>
            <input id="ending_date" class="event-input" name="ending_date" type="datetime-local"
                required>
        </div>
        <div class="col s12 l6">
            <label for="closing_date" class="active">Last admissible date</label>
            <input id="closing_date" class="event-input" name="closing_date"
                type="datetime-local" required>
        </div>
    </div>
    <div style="display: flex; justify-content: right; padding: 10px;">
        <a class="btn-flat" href="#">cancel</a>
        <button id="submit-button" class="btn waves-effect waves-light" type="submit" name="action">Ajouter
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>