<form id="login-dialog" class="modal" style="padding: 0 !important;" action="/user/log-in" method="post">
    <h5 style="text-align: center; font-weight: 600;">SIGN IN</h5>
    <div class="row modal-content">
        <div class="input-field col s12">
            <input name="telephone" id="lg-telephone" type="number" class="validate" required>
            <label for="telephone">Telephone</label>
        </div>
        <div class="input-field col s12">
            <input name="password" id="password" type="password" class="validate" required>
            <label for="password">Password</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn waves-effect waves-light modal-close" type="submit"
            name="action">Se connecter
        </button>
    </div>
</form>