<div id="preview-image" class="modal" style="max-width: 500px;">
    <div class="modal-content">
        <img id="preview-image-src" width="100%" height="250px" src="#" alt="previewn image" />
        <div class="card-action">
            <label id="preview-label" class="btn-flat" for="#">
                Change
            </label>
            {{#if user_id}}
            <button class="modal-close btn">Use</button>
            {{else}}
            <a style="color: white;" class="modal-close btn">Use</a>
            {{/if}}
        </div>
    </div>
</div>