<div id="search-dialog" class="modal" style="height: 80vh; width: 100vw;">
  <div class="row modal-content">
    <div class="input-field col s12">
      <input type="text" name="_search" id="_search" class="autocomplete" required>
      <label for="autocomplete-input">Search event</label>
    </div>
  </div>
</div>