<div class="col m12" style="display: grid; justify-content: center;  grid-auto-flow: column;">
    <div class="about">
        <h1>ABOUT US</h1>
        <h3>Who are we ?</h3>
        <p>
            Youth Space is a platform for event registration mostly targeted by young men and women interested by
            religion,
            entrepreneurship, agriculture, self-employment, leadership and much more of these categories... .Find your
            event and get registered
        </p>
        <h3>Our vision</h3>
        <p>
            Changing the nations through independent young men and women
        </p>
        <p>
            Anyone who views content on our website or registers for any of our events on the site also agrees to view,
            like and comment on content provided by Google AdSense.

            If you find the content annoying, closed it and tell us more about the reason. You can also send description
            of the situation to our <a style="color: var(--primary-color) !important;"
                href="mailto:kuidjamarco@gmail.com.">developer contact.</a>
        </p>
        <p>
            For more information on our privacy policies check it out at <a href="/privacy">our privacy page</a>
        </p>
    </div>
</div>
