{{#if user.user_id}}
{{#if success}}
<div id="success-dialog" class="modal">
    <h5 style="text-align: center; font-weight: 600;">SUCCESS MESSAGES</h5>
    <h5 style="text-align: center;">{{success}}</h5>
    <div class="row modal-content" style="margin: 0;">
        <table class="input-field col s12">
            <tr>
                <td><b>Name</b></td>
                <td><b>{{name}}</b></td>
            </tr>
            <tr>
                <td><b>Theme</b></td>
                <td><b>{{theme}}</b></td>
            </tr>
            <tr>
                <td><b>Starting date</b></td>
                <td><b>{{starting_date}}</b></td>
            </tr>
            <tr>
                <td><b>Ending date</b></td>
                <td><b>{{ending_date}}</b></td>
            </tr>
            <tr>
                <td><b>Last admissible date</b></td>
                <td><b>{{closing_date}}</b></td>
            </tr>
            <tr>
                <td><b>Hosting Place</b></td>
                <td><b>{{location}}</b></td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <a class="btn btn-flat waves-effect waves-light modal-close" href="/admin" name="action">OK
        </a>
    </div>
</div>
{{/if}}
<div class="col s12 m9 l10">
    {{> admin/_registrations}}
    {{> admin/_assemblies}}
    {{> admin/_events}}
    <div id="service-stat" class="section scrollspy col s12" style="text-align: center;">
        <canvas id="service-stats-chart"></canvas>
    </div>
    <div class="col s12 google-adds">
        {{> _adds}}
    </div>
    {{> admin/_new-stat}}
</div>
{{> modals/_event-create}}
<div class="col hide-on-small-only m3 l2">
    <ul class="section table-of-contents" style="position: fixed;">
        <li><a style="font-weight: bold;" href="#registrations">Registrations</a></li>
        <li><a style="font-weight: bold;" href="#assemblies">Assemblies</a></li>
        <li><a style="font-weight: bold;" href="#events">Events</a>
        </li>
        <li><a style="font-weight: bold;" href="#service-stat">Statistics graph</a></li>
        <li><a style="font-weight: bold;" href="#new-service-stat">New Statistics</a></li>
        <li>
            {{#with user}}
            <div style="padding: 5 !important; text-align: center;">
                <img style="border-radius: 100%; width: 100px; height: 100px;" src="/static/images/{{image_ref}}">
                <p>{{first_name}} {{last_name}}</p>
                <p>{{telephone}}, {{gender}}, {{legal_status}}, {{profession}}, {{email}}</p>
                <p>Update your profile <a href="/user" style="color: var(--primary-color);">here</a></p>
            </div>
            {{!-- </form> --}}
            {{/with}}
        </li>
    </ul>
</div>
{{/if}}