<div class="col s12 m12 l10 row" style="display: grid; padding: 0%;">
    <style>
        a.waves-effect {
            background-color: var(--background-color);
        }

        #ass-head {
            display: grid;
            grid-template-columns: auto auto 1fr
        }
    </style>
    <div class="col m12">
        {{> _carousel}}
    </div>
    <div class="col m12">
        {{#if assemblies}}
        <div class="card">
            <div class="card-stacked">
                <ul style="padding: 0%;" class="collapsible card-content">
                    {{#each assemblies}}
                    <li>
                        <div id="ass-head" class="collapsible-header"><i class="material-icons">subject</i>{{name}} <a
                                class="waves-light btn modal-trigger btn-small" href="/assembly/{{assembly_id}}">See
                                Members</a></div>
                        <div style="padding: 1rem;" class="collapsible-body">
                            <div style="padding: 1rem;" class="events card horizontal">
                                <div class="card-stacked">
                                    <ul style="padding: 15px;" class="card-content">
                                        <li class="active">
                                            <div class="collapsible-header"><i
                                                    class="material-icons">Assembly</i>{{zone_name}}
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i
                                                    class="material-icons">drafts</i>{{pastor_name}}
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i
                                                    class="material-icons">phone</i>{{pastor_telephone}}
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i
                                                    class="material-icons">drafts</i>{{leader_name}}
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i
                                                    class="material-icons">phone</i>{{leader_telephone}}
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">phone</i>Active
                                                number {{active_number}}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{else}}
        <div class="card" style="text-align: center; padding: 10px; color:var(--secondary-color)">No content Yet</div>
        {{/if}}
    </div>
</div>
{{> _adds}}