{{#if members}}
<h4 class="col s12 header">
    {{assembly}} youth members
</h4>
{{else}}
<div class="col s12">
    <h4 class="header">
        Youth Space events
    </h4>
    <p style="text-align: center;">Youth Space is a platform for event registration mostly targeted by young
        men and women interested by
        religion,
        entrepreneurship, agriculture, self-employment, leadership and much more of these categories... .Find your
        event and get registered</p>

</div>
{{/if }}
<div class="col s12 m12 l2 google-adds">
    {{> _adds}}
</div>
<div class="col s12 m12 l8 row">
    {{#each events}}
    <div class="event col s12">
        <ul class="card collapsible">
            <li class="card-stacked active">
                <div class="card-title title collapsible-header">
                    <p>{{theme}}</p>
                </div>
                <div id="body" class="card-content collapsible-body">
                    <div class="card-image">
                        <img height="500" src="/static/images/{{event_flyer}}" alt="main image" />
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn btn-small"
                            href="/event/{{event_id}}/register">Register</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    {{/each}}
    {{#each members}}
    <div class="col s12 m3">
        <div class="member-card" style="text-align: center;">
            <img width="fit-content" height="100" src="/static/images/{{image_ref}}" />
            <p style="font-size: x-large; margin: 0;">{{first_name}} {{last_name}}</p>
            <p style="margin: 0;">{{assembly}}</p>
        </div>
    </div>
    {{/each}}
</div>
<div class="col s12 m12 l2 google-adds">
    {{> _adds}}
</div>