{{#if user.user_id}}
<div class="col s12 m6" style="text-align: center;">
    <canvas id="visitor-chart"></canvas>
    <p class="stat">
        Today: {{today_visitors}}
        <span style="margin-left: 5px;">This Week: {{weekly_visitors}}</span>
        <span style="margin-left: 5px;">This Month: {{monthly_visitors}}</span>
    </p>
</div>
<div class="col s12 m6" style="text-align: center;">
    <canvas id="registration-chart"></canvas>
    <p class="stat">
        Today: {{today_registrations}}
        <span style="margin-left: 5px;">This Week: {{weekly_registrations}}</span>
        <span style="margin-left: 5px;">This Month: {{monthly_registrations}}</span>
    </p>
</div>
<div class="col s12 m6" style="text-align: center;">
    <table class="striped">
        <thead>
            <tr>
                <th>Up ongoing events</th>
                <th>N. of guest</th>
                <th>Starting date</th>
            </tr>
        </thead>

        <tbody>
            {{#each feature_events}}
            <tr>
                <td>{{name}}, {{theme}}</td>
                <td>{{number_of_guest}}</td>
                <td>{{starting_date}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}