<div class="col s12">
    <a class="btn-floating btn" style="margin-right: 50px;" href="{{referer_link}}">
        <i class="large material-icons">arrow_back</i>
    </a>
    <button id="print-button" class="btn">
        Print Badges
    </button>
</div>
<div id="pdf-badges" class="col s12 row">
    {{> admin/_badges}}
</div>