{{> _carousel}}
<div class="col s12 m12 row">
    <form id="registration-form" class="card col s12 m8" style="padding: 25px;" action="/user/register"
        enctype="multipart/form-data" method="post">
        {{> modals/_preview}}
        <input name="event_id" id="event_id" value="{{event_id}}" type="text" class="validate" required hidden>
        <div class="card-title col s12 m8">
            <p>
                <i class="material-icons">short_text</i>
                {{name}}, {{theme}}
            </p>
        </div>
        <div class="col s12 m4" style="text-align: end;">
            <a style="cursor: pointer; background-color: white;" class="waves-effect waves-light modal-trigger" href="#chrdialog" value="new"><i
                    class="material-icons">create</i>
                Add your assembly
            </a>
            <p>Field with * are required</p>
        </div>
        {{> _registration}}
    </form>
    <div class="col s12 m4 google-adds">
        {{> _adds}}
    </div>
    {{> modals/_assembly}}
</div>