<style>
    #reset-password {
        display: grid;
        min-height: 50vh;
        align-content: center;
        grid-auto-flow: column;
        justify-content: center;
    }
</style>
<div id="reset-password" class="col s12" >
    {{>_reset}}
</div>