<style>
    .h5 {
        text-align: center;
        margin: 0;
        text-transform: uppercase;
        font-weight: 800;
        background-color: var(--primary-color);
        padding: 10px !important;
    }
</style>
{{#if user.user_id}}
<div class="col s12">
    <div id="user-info" class="col s12 row">
        <div class="col s12 m12 l5 row">
            <div class="col s12">
                {{> _carousel}}
            </div>
            <table class="striped col s12">
                <thead>
                    <tr>
                        <th>My Registrations</th>
                    </tr>
                </thead>
                {{#each registrations}}
                <tr>
                    <td><b>{{theme}}</b> on the {{registered_at}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
        <div class="card horizontal col s12 m12 l7">
            {{#with user}}
            <div class="card-image"
                style="display: grid; grid-auto-flow: column; justify-content: center; align-items: center; padding: 5px;">
                <img style="border-radius: 100%; width: 150px; height: 150px;" src="/static/images/{{image_ref}}">
            </div>
            <form class="card-stacked" style="padding: 0 !important;" action="/user/update/image"
                enctype="multipart/form-data" method="post">
                {{> modals/_preview}}
                <div class="card-content">
                    <p>{{first_name}} {{last_name}}</p>
                    <p>{{telephone}}, {{gender}}, {{legal_status}}, {{profession}}, {{email}}</p>
                    <p>from {{assembly}}</p>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span><i class="material-icons">folder</i></span>
                            <input id="user-image-field" class="file-input" type="file" name="file" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input name="str_file" class="file-path validate" type="text"
                                placeholder="* Change your profile image" required>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <button class="btn waves-effect waves-light modal-close" type="submit" name="action">Submit new
                        profile
                    </button>
                </div>
            </form>
            {{/with}}
        </div>
        <div class="col s12 m12 l7">
            <div style="padding: 5px;">
                <h5 class="h5">Update your Informations</h5>
            </div>
            <form class="card" style="padding: 0px !important;" action="/user/update/user" method="post">
                {{#with user}}
                {{> _registration}}
                {{/with}}
            </form>
        </div>
    </div>
</div>
<div class="col s12 m12 l2 google-adds">
    {{> _adds}}
</div>
<div class="col s12 m12 l8">
    <div class="card-title">
        <h5 class="col s12 h5">Register
            to more events</h5>
    </div>
    <div class="col s12 row" style="margin-top: 15px;">
        {{#each events}}
        <div class="event col s12 m6">
            <ul class="card collapsible">
                <li class="card-stacked active">
                    <div class="card-title title collapsible-header">
                        <p>{{theme}}</p>
                    </div>
                    <div id="body" class="card-content collapsible-body">
                        <p><b>Event: </b> {{name}}</p>
                        <p><b>Theme: </b> {{theme}}</p>
                        <p><b>Location: </b> {{location}}</p>
                        <p><b>Starting date: </b> {{starting_date}}</p>
                        <p><b>Ending date: </b> {{ending_date}}</p>
                        <p><b>Last admissible date: </b>{{closing_date}}</p>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn btn-small"
                                href="/user/registration/{{event_id}}">Register</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {{/each}}
    </div>
</div>
<div class="col s12 m12 l2 google-adds">
    {{> _adds}}
</div>
{{/if}}