<ul class="carousel carousel-slider">
    {{#each eventImages}}
    <li class="carousel-item"><img height="100%" width="100%" src="/static/images/{{event_flyer}}"></li>
    {{/each}}
    <li class="carousel-item"><img height="100%" width="100%" src="/static/images/youth.jpg"></li>
    <li class="carousel-item"><img height="100%" width="100%" src="/static/images/youthgroup.jpeg"></li>
    <li class="carousel-item"><img height="100%" width="100%" src="/static/images/getty.jpg"></li>
</ul>