<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l3">
                <img src="/static/images/logo.png" alt="logo-text" width="250" />
            </div>
            <div class="col l3 offset-l2 s10">
                <h5 class="white-text">Stay informed</h5>
                <p style="margin-bottom: 0%;" class="grey-text text-lighten-4">
                    Receive real-time notifications of
                    notifications of new events added to our platform.
                </p>
                <form style="padding: 10px 0 !important;" id="email-form" action="/user/visitor" method="post">
                    <input id="email" name="email" type="email" class="validate" required style="background-color: white; height: 40px;"/>
                    <button id="email-button" class="btn waves-effect waves-light" type="submit"
                        name="action">Subscribe
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
            <div class="col l2 offset-l2 s10">
                <h5 class="white-text">Useful link</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#">LinkedIn</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#">Facebook</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            @kdmark ©2022 Copyright
            <span><a class="grey-text text-lighten-4 right" href="/privacy">Privacy</a></span>
        </div>
    </div>
</footer>