<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo" style="height: fit-content; width: fit-content;"><b>Youth Space</b></a>
                <a data-target="mobile-demo" class="sidenav-trigger" style="cursor: pointer;"><i
                        class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/assembly">ASSEMBLIES</a></li>
                    {{#if user.user_id}}
                    <li>
                        {{#if user.is_owner}}
                        <a href="/owner">DASHBOARD</a>
                        {{else if user.is_admin}}
                        <a href="/admin">DASHBOARD</a>
                        {{/if}}
                    </li>
                    <li>
                        <a href="/user">PROFILE</a>
                    </li>
                    <li>
                        <a style="color: white;" class="btn btn-flat waves-effect waves-light" href="/user/logout">Log
                            Out</a>
                    </li>
                    {{else}}
                    <li>
                        <a href="#login-dialog" class="modal-trigger">LOGIN</a>
                    </li>
                    {{/if}}
                    <li><a href="/about">A PROPOS</a></li>
                    <li>
                        <a href="#search-dialog" class="modal-trigger">
                            <i class="material-icons">search</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">HOME</a></li>
        <li><a href="/assembly">ASSEMBLIES</a></li>
        {{#if user.user_id}}
        <li>
            {{#if user.is_owner}}
            <a href="/owner">DASHBOARD</a>
            {{else if user.is_admin}}
            <a href="/admin">DASHBOARD</a>
            {{/if}}
        </li>
        <li>
            <a href="/user">PROFILE</a>
        </li>
        <li>
            <a style="color: white;" class="btn btn-flat waves-effect waves-light" href="/user/logout">Log
                Out</a>
        </li>
        {{else}}
        <li>
            <a href="#login-dialog" class="modal-trigger">LOGIN</a>
        </li>
        {{/if}}
        <li><a href="/about">A PROPOS</a></li>
        <li>
            <a href="#search-dialog" class="modal-trigger">
                <i class="material-icons">search</i>
            </a>
        </li>
    </ul>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large">
            <i class="large material-icons">arrow_upward</i>
        </a>
    </div>
    {{> modals/_search}}
</header>