<div class="card-stacked col s12 row">
    <div class="input-field col s12 l6">
        <select name="assembly_id" id="assembly-select" required>
            <option value="" disabled selected>Find your assembly</option>
            {{#each assemblies}}
            <option class="active" value="{{assembly_id}}">{{name}}</option>
            {{/each}}
        </select>
        <label>Assembly* {{assembly}}</label>
    </div>
    <div class="input-field col s12 l6">
        <input name="first_name" id="first_name" value="{{first_name}}" type="text" class="validate" required>
        <label for="first_name">Fisrt Name*</label>
    </div>
    <div class="input-field col s12 l6">
        <input name="last_name" id="last_name" value="{{last_name}}" type="text" class="validate" required>
        <label for="last_name">Last Name*</label>
    </div>
    {{#if user_id}}
    <div class="input-field col s12 m6">
        {{else}}
        <div class="input-field col s12 m6 l3">
            {{/if}}
            <select name="gender" id="gender-select" required>
                <option value="" disabled selected>Select your gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <label>Gender* {{gender}}</label>
        </div>
        {{#if user_id}}
        <div class="input-field col s12 m6">
            {{else}}
            <div class="input-field col s12 m6 l3">
                {{/if}}
                <select name="legal_status" id="legal-status-select" required>
                    <option value="" disabled selected>Select your legal status</option>
                    <option value="SINGLE">Single</option>
                    <option value="MARRIED">Married</option>
                </select>
                <label>Legal Status* {{legal_status}}</label>
            </div>
            <div class="input-field col s12 l6">
                <input name="email" id="email" value="{{email}}" type="email" class="validate">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12 l6">
                <input name="telephone" id="telephone" value="{{telephone}}" type="number" class="validate" required>
                <label for="telephone">Phone number*</label>
            </div>
            <div class="input-field col s12 l6">
                <input name="profession" id="profession" value="{{profession}}" type="text" class="validate" required>
                <label for="profession">Profession*</label>
            </div>
            {{#unless user_id}}
            <div class="file-field input-field col s12 l6">
                <div class="btn">
                    <span><i class="material-icons">folder</i></span>
                    <input id="registration-image-field" class="file-input" type="file" name="file" required>
                </div>
                <div class="file-path-wrapper">
                    <input name="str_file" class="file-path validate" type="text"
                        placeholder="* Change your profile image" required>
                </div>
            </div>
            {{/unless}}
        </div>
        <div class="col s12" style="text-align: end;">
            <button class="btn waves-effect waves-light modal-close" type="submit" name="action">Submit
            </button>
        </div>