<form id="new-login" action="/user/update/log-in" method="post">
    <h5>Update your login</h5>
    <p>These informations are used for signing into your account</p>
    <div class="row modal-content">
        {{#with user}}
        <div class="input-field col s12">
            <input name="telephone" id="telephone" value="{{telephone}}" type="number" class="validate" required>
            <label for="telephone">Telephone</label>
        </div>
        <div class="input-field col s12">
            <input name="password" id="password" value="{{password}}" type="password" class="validate" required>
            <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
            <input name="confirm_password" id="confirm_password" value="{{password}}" type="password" class="validate" required>
            <label for="confirm_password">Confirm Password</label>
        </div>
        {{/with}}
    </div>
    <div class="modal-footer" style="text-align: right;">
        <button class="btn waves-effect waves-light" type="submit" name="action">Save Changes
        </button>
    </div>
</form>