<!-- Modal Structure -->
<div id="warning-dialog" class="modal">
    <div class="modal-content">
        <h4>Warning</h4>
        <p>This action is irrevesible, Do you realy one to delete this record forever?
            You will not be able to undo
            this action</p>
    </div>
    <div class="modal-footer">
        <a href="#" style="background-color: white;" class="modal-close waves-teal btn-flat">No, Cancel</a>
        <a href="#" class="waves-effect btn delete-target">Yes, I Agree</a>
    </div>
</div>