<div class="col s12 m12" style="display: flex; justify-content: center;">
    <div class="card red lighten-2" style="width: 50%; min-width: 250px;">
        <div class="card-content white-text" style="text-align: center;">
            <span class="card-title">404 Error: Page Not Found</span>
            <p style="font-size: 2rem;">Sorry, The page you loaded could not be found on our server</p>
        </div>
        <div class="card-action">
            <a class="btn" href="/" style="background-color: var(--primary-color) !important;">Go to home page</a>
        </div>
    </div>
</div>