<div class="col s12 m12" style="display: flex; justify-content: center;">
    <div class="card red lighten-2" style="width: 50%; min-width: 250px;">
        <div class="card-content white-text">
            <span class="card-title">500 Error: Internal Server Error</span>
            <p>Sorry, an internal server error occured. Help us improve this website by sending feedbacks details
            </p>
            <p>Details</p>
            <p>{{message}}</p>
        </div>
        <div class="card-action">
            <a href="{{referer_link}}" style="color: white;">Try again</a>
            <a class="btn" style="background-color: var(--primary-color) !important;" href="mailto:kuidjamarco@gmail.com.">Message us</a>
        </div>
    </div>
</div>