<div id="assemblies" class="section scrollspy col m12 row">
    <div class="col s12 m4" style="margin-top: 25px;">
        <a class="waves-effect waves-light btn modal-trigger btn-small" href="#chrdialog"><i
                class="material-icons left">create</i>Add new Assembly</a>
    </div>
    <div id="total-assemblies" class="input-field col s12 m8"
        style="margin-top: 25px; font-size: 25px;text-align: end;">
        {{assemblies.length}} verified assemblies
    </div>
    <table class="striped col s12">
        <thead>
            <tr>
                <th>Asssembly</th>
                <th>Zone</th>
                <th>Pastor name</th>
                <th>Pastor telephone</th>
                <th>Leader name</th>
                <th>Leader telephone</th>
                <th>State</th>
            </tr>
        </thead>

        <tbody id="registration-data">
            {{#each assemblies}}
            <tr id="{{assembly_id}}">
                <td>{{name}}</td>
                <td>{{zone_name}}</td>
                <td>{{pastor_name}}</td>
                <td>{{pastor_telephone}}</td>
                <td>{{leader_name}}</td>
                <td>{{leader_telephone}}</td>
                <td>
                    <p>
                        <a class="waves-effect waves-light btn btn-small delete"
                            href="/assembly/delete/{{assembly_id}}"><i class="material-icons">delete_forever</i></a>
                    </p>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{> modals/_assembly}}
</div>
<div class="col s12 google-adds">
    {{> _adds}}
</div>