{{#each participants}}
<div class="col s12 m4">
    {{!-- User Bagdes --}}
    <div id="badge-{{user_id}}" class="card horizontal"
        style="background-color: var(--primary-dark-color); padding: 10px;">
        <div class="card-image" style="display: grid; grid-auto-flow: column; align-items: center;">
            <img style="width: 150px; height: 150px; border-radius: 100%;" src="/static/images/{{image_ref}}">
        </div>
        <div class="card-stacked">
            <div class="card-content white-text">
                <span class="card-title">{{first_name}} {{last_name}}</span>
                <p>{{telephone}}, {{email}}</p>
                <p>{{legal_status}}, {{profession}}</p>
                <p>from {{assembly}}</p>
            </div>
            <div class="card-action">
                <div style="color: var(--secondary-color); text-transform: uppercase;">
                    {{theme}}
                </div>
                <p style="margin: 0; font-size: 10px; color: white;">website: youth-space.heroku.com</p>
            </div>
        </div>
    </div>
</div>
{{/each}}