<div id="events" class="section scrollspy col s12 row">
    <div class="col s12 m4" style="margin-top: 25px;">
        {{> modals/_event-edit}}
        <a class="waves-effect waves-light btn modal-trigger btn-small" href="#create-event-dialog"><i
                class="material-icons left">create</i>Add new Event</a>
    </div>
    <div id="total-events" class="input-field col s12 m8" style="margin-top: 25px; font-size: 25px;text-align: end">
        {{events.length}} events
    </div>
    <table class="striped col s12">
        <thead>
            <tr>
                <th>Event</th>
                <th>Theme</th>
                <th>Starting date</th>
                <th>Ending date</th>
                <th>Last admissible date</th>
                <th>Limit number</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody id="registration-data">
            {{#each events}}
            <tr id="{{event_id}}">
                <td>{{name}}</td>
                <td>{{theme}}</td>
                <td>{{starting_date}}</td>
                <td>{{ending_date}}</td>
                <td>{{closing_date}}</td>
                <td>{{registration_fee}}</td>
                <td>{{location}}</td>
                <td>
                    <div style="display: flex; gap: 5px">
                        <a id="{{event_id}}" class="waves-effect btn btn-small indigo accent-3 edit-event" style="color: white;">
                            <i class="material-icons">create</i>
                        </a>
                        {{!-- <form style="padding: 0 !important;" class="file-field input-field" action="/admin/{{event_id}}/edit-image"
                            enctype="multipart/form-data" method="post">
                            {{> modals/_preview}}
                            <div class="btn btn-small  indigo accent-3" style="background-color: var(--primary-color);">
                                <span><i class="material-icons">folder</i></span>
                                <input id="{{event_id}}-image-field" class="file-input" type="file" name="file" required>
                            </div>
                        </form> --}}
                        <a class="waves-effect btn btn-small delete" style="color: white;"
                            href="/admin/event/{{event_id}}/delete">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="col s12 google-adds">
    {{> _adds}}
</div>