<form id="new-service-stat" class="section scrollspy  col s8 row" action="/admin/stats/new" method="post">
    <div style="padding: 5px;">
        <h5 style="font-weight: 600;">Add new Service Statistics</h5>
        <p>Please take time to fill and verified these fields before submitting because once submitted these value can
            not be change</p>
    </div>
    <div class="row">
        <div class="col s12 l6">
            <label for="children_number">Number of children</label>
            <input id="children_number" name="children_number" type="number" class="validate" required>
        </div>
        <div class="col s12 l6">
            <label for="youths_number">Number of youths</label>
            <input id="youths_number" name="youths_number" type="number" class="validate" required>
        </div>
        <div class="col s12 l6">
            <label for="men_number">Number of men</label>
            <input id="men_number" name="men_number" type="number" class="validate" required>
        </div>
        <div class="col s12 l6">
            <label for="women_number">Number of women</label>
            <input id="women_number" name="women_number" type="number" class="validate" />
        </div>
        <div class="col s12 l6">
            <label for="offerings">Offerings</label>
            <input id="offerings" name="offerings" type="number" required>
        </div>
        <div class="col s12 l6">
            <label for="tite">Tite</label>
            <input id="tite" name="tite" type="number" required>
        </div>
    </div>
    <div style="text-align: end;">
        <button id="submit-button" class="btn waves-effect waves-light" type="submit" name="action">Ajouter
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>
<div class="col s4">
    {{>_reset}}
</div>
<div class="col s12 google-adds">
    {{> _adds}}
</div>