<div id="registrations" class="section scrollspy col s12 row">
    <div class="col s12 m6 row" style="margin-top: 25px;">
        <div class="input-field col s6">
            <select name="event_id" id="event-select" required>
                <option value="" disabled selected>Choose event</option>
                {{#each events}}
                <option value="{{event_id}}">{{theme}}</option>
                {{/each}}
            </select>
            <label>Event</label>
        </div>
        <div class="input-field col s6">
            <button id="preview-button" class="btn">
                Preview Badges
            </button>
        </div>
    </div>
    <div id="total-registrations" class="col s12 m6" style="margin-top: 25px; font-size: 25px;text-align: end;">
    </div>
    <table class="striped col s12">
        <thead>
            <tr>
                <th>Participant</th>
                <th>Phone number</th>
                <th>Gender</th>
                <th>Profession</th>
                <th>Assembly</th>
                <th>Legal status</th>
                <th>Pastor/leader</th>
                <th>Profile image</th>
                <th>
                    <label for="check-all">
                        <input id="check-all" type="checkbox" class="filled-in" />
                        <span>All</span>
                    </label>
                </th>
            </tr>
        </thead>

        <tbody id="registration-data">
            <tr>
                <td colspan="9">
                    No content yet
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col s12 google-adds">
    {{> _adds}}
</div>