<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8513289905453401"
        crossorigin="anonymous"></script>
    <title>Youth Space</title>
    <style>
        :root {
            --primary-color: #197aff;
            --secondary-color: #ee6e73;
            --primary-dark-color: #0d438d;
        }

        nav {
            padding-inline: 10px;
            background-color: var(--primary-color);
        }

        .page-footer {
            background-color: var(--primary-color) !important;
        }

        .page-footer {}

        .container {
            width: 80%;
        }

        .google-adds {
            color: var(--secondary-color);
            display: grid;
        }

        .google-adds>h3 {
            border: 1px solid var(--secondary-color);
        }

        .body {
            padding: 10px;
            min-height: 100vh;
        }

        .card-action {
            text-align: end;
            padding: 10px !important;
        }

        form {
            padding: 30px !important;
        }

        .btn-floating {
            background-color: var(--secondary-color);
        }

        .carousel {
            background-color: var(--primary-dark-color);
        }

        #login-dialog {
            max-width: 400px;
        }

        .stat {
            font-weight: 700;
            margin: 0px;
        }

        p,
        a {
            font-family: 'Times New Roman', Times, serif;
        }

        .about {
            max-width: 700px;
            text-align: center;
        }

        .about>h1,
        h3,
        a {
            color: var(--secondary-color);
        }

        .btn {
            padding-inline: 8px;
            width: fit-content;
            justify-self: end;
            background-color: var(--secondary-color) !important;
        }

        .toast {
            background-color: green;
            margin: 0;
            width: 100%;
            height: 100%;
        }

        .toast-info {
            background-color: var(--primary-color);
            margin: 0;
            width: 100%;
            height: 100%;
        }

        .toast-error {
            background-color: var(--secondary-color);
            margin: 0;
            width: 100%;
            height: 100%;
        }

        .tab-body {
            padding: 0 !important;
        }

        a.waves-effect {
            background-color: var(--secondary-color);
        }

        .home-body {
            display: grid;
        }

        .header {
            font-weight: 900 !important;
            color: var(--secondary-color);
            text-align: center;
        }

        .title {
            text-align: center;
            background-color: var(--secondary-color);
            padding: 0;
        }

        .title>p {
            margin: 0;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div id="main-anchor"></div>
    {{> _header}}
    <div class="row body">
        {{{body}}}
    </div>
    {{> _footer}}


    {{#unless user.user_id}}
    {{> modals/_login}}
    {{/unless}}
    {{>_warning}}
    {{!-- JavaScript code and importations --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/js/all.min.js"
        integrity="sha512-Cvxz1E4gCrYKQfz6Ne+VoDiiLrbFBvc6BPh4iyKo2/ICdIodfgc5Q9cBjRivfQNUXBCEnQWcEInSXsvlNHY/ZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.18.0/ckeditor.js"
        integrity="sha512-woYV6V3QV/oH8txWu19WqPPEtGu+dXM87N9YXP6ocsbCAH1Au9WDZ15cnk62n6/tVOmOo0rIYwx05raKdA4qyQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/header.js"></script>
</body>

</html>